<form class="l5r5e gm-toolbox" autocomplete="off">
    <ul class="gm-tools-container">
        <li class="gm_monitor" title="{{localize 'l5r5e.gm.monitor.title'}}">
            <i class="fas fa-table"></i>
        </li>
        <li class="difficulty_hidden" title="{{localize 'l5r5e.gm.toolbox.difficulty_hidden'}}">
            <i class="fa fa-eye{{#if data.difficultyHidden}}-slash{{/if}}"></i>
            <strong class="difficulty" title="{{localize 'l5r5e.gm.toolbox.difficulty'}}">{{data.difficulty}}</strong>
        </li>
        <li class="gm_actor_updates reset_void" data-type="reset_void" title="{{localize 'l5r5e.gm.toolbox.reset_void'}}">
            <i class="fas fa-podcast"></i>
        </li>
        <li class="gm_actor_updates sleep" data-type="sleep" title="{{localize 'l5r5e.gm.toolbox.sleep'}}">
            <i class="fa fa-bed"></i>
        </li>
        <li class="gm_actor_updates scene_end" data-type="scene_end" title="{{localize 'l5r5e.gm.toolbox.scene_end'}}">
            <i class="fas fa-star-half-alt"></i>
        </li>
    </ul>
</form>