<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- properties Tab --}}
        <article class="attributes">
            {{!-- battle readiness --}}
            <label class="attribute army-cohort-types">
                {{localize 'l5r5e.army.battle_readiness.casualties'}}
                <input class="select-on-focus" type="number" name="system.battle_readiness.casualties_strength.value" value="{{data.system.battle_readiness.casualties_strength.value}}" data-dtype="Number"/>
            </label>
            <label class="attribute army-cohort-types">
                {{localize 'l5r5e.army.battle_readiness.strength'}}
                <input class="select-on-focus" type="number" name="system.battle_readiness.casualties_strength.max" value="{{data.system.battle_readiness.casualties_strength.max}}" data-dtype="Number"/>
            </label>
            <label class="attribute army-cohort-types">
                {{localize 'l5r5e.army.battle_readiness.panic'}}
                <input class="select-on-focus" type="number" name="system.battle_readiness.panic_discipline.value" value="{{data.system.battle_readiness.panic_discipline.value}}" data-dtype="Number"/>
            </label>
            <label class="attribute army-cohort-types">
                {{localize 'l5r5e.army.battle_readiness.discipline'}}
                <input class="select-on-focus" type="number" name="system.battle_readiness.panic_discipline.max" value="{{data.system.battle_readiness.panic_discipline.max}}" data-dtype="Number"/>
            </label>

            <label class="attribute army-cohort-types flx50">
                {{^if data.system.leader_actor_id}}<i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{/if}}{{localize 'l5r5e.army.cohort.leader'}}
                {{#if data.system.leader_actor_id}}
                <div>
                    <span class="actor-remove-control pointer" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></span>
                    <a data-actor-id="{{data.system.leader_actor_id}}" class="open-sheet-from-uuid">{{data.system.leader}}</a>
                </div>
                {{else}}
                    <input class="select-on-focus" type="text" name="system.leader" value="{{data.system.leader}}" data-dtype="String"/>
                {{/if}}
            </label>
            <label class="attribute army-cohort-types flx50">
                {{localize 'l5r5e.sheets.equipment'}}
                <input class="select-on-focus" type="text" name="system.equipment" value="{{data.system.equipment}}" data-dtype="String"/>
            </label>
        </article>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="infos">{{localize 'l5r5e.sheets.description'}}</a>
            <a class="item" data-tab="abilities">{{localize 'l5r5e.army.cohort.abilities'}}</a>
        </nav>

        {{!-- abilities --}}
        <article class="tab abilities" data-group="primary" data-tab="abilities">
            <fieldset class="attribute army-cohort-types flx100">
                    <legend class="text-block-header">{{localize 'l5r5e.army.cohort.abilities'}}</legend>
                {{editor data.enrichedHtml.abilities target="system.abilities" button=true owner=owner editable=editable}}
            </fieldset>
        </article>

        {{!-- Description --}}
        {{> 'systems/l5r5e/templates/items/item/item-infos.html'}}
    </section>
</form>
