<ul class="effects">
    {{#each actor.effects as |effect|}}
    <li class="effect-container" title="{{name}}">
        <div class="effect-icon" style="background-image: url({{effect.img}})"></div>
        <div class="effect-name"><label>{{name}}</label></div>
    </li>
    {{/each}}
</ul>
